In [1]:
import pandas as pd
from helpers import *

In [2]:
calendar_df = pd.read_csv("Data/calendar.csv")
listings_df = pd.read_csv("Data/listings.csv")
reviews_df = pd.read_csv("Data/reviews.csv")

In [3]:
data_investigation(calendar_df)

Data Head

   listing_id        date available   price
0      241032  2016-01-04         t  $85.00
1      241032  2016-01-05         t  $85.00

______________________________________________________________________________

Data Shape

'The data has 1393570 rows and 4 columns'

______________________________________________________________________________

Columns

['listing_id', 'date', 'available', 'price']

______________________________________________________________________________

Columns Must be Dropped (ALL NULLS)

None

______________________________________________________________________________

Columns Must be Dropped (HAS ONLY ONE UNIQUE VALUE)

None

______________________________________________________________________________

Column Data Type

listing_id    int
date          str
available     str
price         str
dtype: object

______________________________________________________________________________

Number of Nulls in Each Column

price         459028
listing_id         0
date               0
available          0
dtype: int64

______________________________________________________________________________

Percentge of Nulls in Each Column

price         0.32939
listing_id    0.00000
date          0.00000
available     0.00000
dtype: float64

______________________________________________________________________________

Numeric Columns' Staticts

         listing_id
count  1.393570e+06
mean   5.550111e+06
std    2.962274e+06
min    3.335000e+03
25%    3.258213e+06
50%    6.118244e+06
75%    8.035212e+06
max    1.034016e+07

______________________________________________________________________________

In [4]:
data_investigation(listings_df)

Data Head

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
1,953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",...,10.0,f,NaN,WASHINGTON,f,strict,t,t,6,1.48

______________________________________________________________________________

Data Shape

'The data has 3818 rows and 92 columns'

______________________________________________________________________________

Columns

['id',
 'listing_url',
 'scrape_id',
 'last_scraped',
 'name',
 'summary',
 'space',
 'description',
 'experiences_offered',
 'neighborhood_overview',
 'notes',
 'transit',
 'thumbnail_url',
 'medium_url',
 'picture_url',
 'xl_picture_url',
 'host_id',
 'host_url',
 'host_name',
 'host_since',
 'host_location',
 'host_about',
 'host_response_time',
 'host_response_rate',
 'host_acceptance_rate',
 'host_is_superhost',
 'host_thumbnail_url',
 'host_picture_url',
 'host_neighbourhood',
 'host_listings_count',
 'host_total_listings_count',
 'host_verifications',
 'host_has_profile_pic',
 'host_identity_verified',
 'street',
 'neighbourhood',
 'neighbourhood_cleansed',
 'neighbourhood_group_cleansed',
 'city',
 'state',
 'zipcode',
 'market',
 'smart_location',
 'country_code',
 'country',
 'latitude',
 'longitude',
 'is_location_exact',
 'property_type',
 'room_type',
 'accommodates',
 'bathrooms',
 'bedrooms',
 'beds',
 'bed_type',
 'amenities',
 'square_feet',
 'price',
 'weekly_price',
 'monthly_price',
 'security_deposit',
 'cleaning_fee',
 'guests_included',
 'extra_people',
 'minimum_nights',
 'maximum_nights',
 'calendar_updated',
 'has_availability',
 'availability_30',
 'availability_60',
 'availability_90',
 'availability_365',
 'calendar_last_scraped',
 'number_of_reviews',
 'first_review',
 'last_review',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'requires_license',
 'license',
 'jurisdiction_names',
 'instant_bookable',
 'cancellation_policy',
 'require_guest_profile_picture',
 'require_guest_phone_verification',
 'calculated_host_listings_count',
 'reviews_per_month']

______________________________________________________________________________

Columns Must be Dropped (ALL NULLS)

['license']

______________________________________________________________________________

Columns Must be Dropped (HAS ONLY ONE UNIQUE VALUE)

scrape_id                20160104002432
last_scraped                 2016-01-04
experiences_offered                none
market                          Seattle
country_code                         US
country                   United States
has_availability                      t
calendar_last_scraped        2016-01-04
requires_license                      f
jurisdiction_names           WASHINGTON
dtype: object

______________________________________________________________________________

Column Data Type

id                                    numpy.int64
listing_url                                   str
name                                          str
summary                                       str
space                                         str
                                        ...
cancellation_policy                           str
require_guest_profile_picture                 str
require_guest_phone_verification              str
calculated_host_listings_count        numpy.int64
reviews_per_month                   numpy.float64
Length: 81, dtype: object

______________________________________________________________________________

Number of Nulls in Each Column

license             3818
square_feet         3721
monthly_price       2301
security_deposit    1952
weekly_price        1809
                    ...
room_type              0
accommodates           0
bed_type               0
amenities              0
longitude              0
Length: 92, dtype: int64

______________________________________________________________________________

Percentge of Nulls in Each Column

license             1.000000
square_feet         0.974594
monthly_price       0.602672
security_deposit    0.511262
weekly_price        0.473808
                      ...
room_type           0.000000
accommodates        0.000000
bed_type            0.000000
amenities           0.000000
longitude           0.000000
Length: 92, dtype: float64

______________________________________________________________________________

Numeric Columns' Staticts

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,...,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,reviews_per_month
count,3.818000e+03,3.818000e+03,3.818000e+03,3816.000000,3816.000000,3818.000000,3818.000000,3818.000000,3802.000000,3812.000000,...,3171.000000,3160.000000,3165.000000,3160.000000,3167.000000,3163.000000,3162.000000,0.0,3818.000000,3191.000000
mean,5.550111e+06,2.016010e+13,1.578556e+07,7.157757,7.157757,47.628961,-122.333103,3.349398,1.259469,1.307712,...,94.539262,9.636392,9.556398,9.786709,9.809599,9.608916,9.452245,NaN,2.946307,2.078919
std,2.962660e+06,0.000000e+00,1.458382e+07,28.628149,28.628149,0.043052,0.031745,1.977599,0.590369,0.883395,...,6.606083,0.698031,0.797274,0.595499,0.568211,0.629053,0.750259,NaN,5.893029,1.822348
min,3.335000e+03,2.016010e+13,4.193000e+03,1.000000,1.000000,47.505088,-122.417219,1.000000,0.000000,0.000000,...,20.000000,2.000000,3.000000,2.000000,2.000000,4.000000,2.000000,NaN,1.000000,0.020000
25%,3.258256e+06,2.016010e+13,3.275204e+06,1.000000,1.000000,47.609418,-122.354320,2.000000,1.000000,1.000000,...,93.000000,9.000000,9.000000,10.000000,10.000000,9.000000,9.000000,NaN,1.000000,0.695000
50%,6.118244e+06,2.016010e+13,1.055814e+07,1.000000,1.000000,47.623601,-122.328874,3.000000,1.000000,1.000000,...,96.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,1.000000,1.540000
75%,8.035127e+06,2.016010e+13,2.590309e+07,3.000000,3.000000,47.662694,-122.310800,4.000000,1.000000,2.000000,...,99.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,2.000000,3.000000
max,1.034016e+07,2.016010e+13,5.320861e+07,502.000000,502.000000,47.733358,-122.240607,16.000000,8.000000,7.000000,...,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,37.000000,12.150000

______________________________________________________________________________

In [5]:
get_columns_to_drop(listings_df)

['scrape_id',
 'requires_license',
 'country',
 'jurisdiction_names',
 'license',
 'country_code',
 'calendar_last_scraped',
 'market',
 'last_scraped',
 'has_availability',
 'experiences_offered']

In [6]:
data_investigation(reviews_df)

Data Head

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...

______________________________________________________________________________

Data Shape

'The data has 84849 rows and 6 columns'

______________________________________________________________________________

Columns

['listing_id', 'id', 'date', 'reviewer_id', 'reviewer_name', 'comments']

______________________________________________________________________________

Columns Must be Dropped (ALL NULLS)

None

______________________________________________________________________________

Columns Must be Dropped (HAS ONLY ONE UNIQUE VALUE)

None

______________________________________________________________________________

Column Data Type

listing_id       int
id               int
date             str
reviewer_id      int
reviewer_name    str
comments         str
dtype: object

______________________________________________________________________________

Number of Nulls in Each Column

comments         18
listing_id        0
id                0
date              0
reviewer_id       0
reviewer_name     0
dtype: int64

______________________________________________________________________________

Percentge of Nulls in Each Column

comments         0.000212
listing_id       0.000000
id               0.000000
date             0.000000
reviewer_id      0.000000
reviewer_name    0.000000
dtype: float64

______________________________________________________________________________

Numeric Columns' Staticts

         listing_id            id   reviewer_id
count  8.484900e+04  8.484900e+04  8.484900e+04
mean   3.005067e+06  3.058765e+07  1.701301e+07
std    2.472877e+06  1.636613e+07  1.353704e+07
min    4.291000e+03  3.721000e+03  1.500000e+01
25%    7.946330e+05  1.725127e+07  5.053141e+06
50%    2.488228e+06  3.228809e+07  1.413476e+07
75%    4.694479e+06  4.457648e+07  2.762402e+07
max    1.024814e+07  5.873651e+07  5.281274e+07

______________________________________________________________________________